@model OrderCustomerViewModel

<h2 style="text-align: center;">ENTER CUSTOMER INFO</h2>
<br />
<form method="post" asp-action="PlaceOrderForCustomer">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label for="firstNameField" class="form-label mt-4">First name:</label>
                <input asp-for="@Model.FirstName" type="text" class="form-control">
            </div>
            <div>
                <label for="lastNameField" class="form-label mt-4">Last name:</label>
                <input asp-for="@Model.LastName" type="text" class="form-control">
            </div>
            <div>
                <label for="emailField" class="form-label mt-4">Email:</label>
                <input asp-for="@Model.Email" type="text" class="form-control">
            </div>
            <div>
                <label for="phoneNumberField" class="form-label mt-4">Telephone number:</label>
                <input asp-for="@Model.PhoneNumber" type="text" class="form-control">
            </div>
            <div>
                <label for="streetAddressField" class="form-label mt-4">Street address:</label>
                <input asp-for="@Model.StreetAddress" type="text" class="form-control">
            </div>
            <div>
                <label for="zipCodeField" class="form-label mt-4">Zip code:</label>
                <input asp-for="@Model.ZipCode" type="text" class="form-control">
            </div>
            <div>
                <label for="cityField" class="form-label mt-4">City:</label>
                <input asp-for="@Model.City" type="text" class="form-control">
            </div>
            <div>
                <label for="countryField" class="form-label mt-4">Country:</label>
                <input asp-for="@Model.Country" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4">
                <h3>@ViewBag.SelectedModel.ModelName</h3>
                @if (ViewBag.SelectedModel.ImagePath == null || ViewBag.SelectedModel.ImagePath == "")
                                    {
                                        <img src="~/Images/GenericHat.png" alt="Model Thumbnail" width="200" height="200">
                                    }
                                    else
                                    {
                                        <img src="~/Images/@ViewBag.SelectedModel.ImagePath" alt="Model Thumbnail" width="200" height="200">
                                    }
                <h3>Size: @ViewBag.Size</h3>
                <h3>Price: @ViewBag.Price</h3>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="@Model.ModelID" value="@ViewBag.SelectedModel.ID">
    <input type="hidden" asp-for="@Model.Size" value="@ViewBag.Size">
    <input type="hidden" asp-for="@Model.Price" value="@ViewBag.Price">
    <button type="submit" class="btn btn-success btn-primary mt-4" asp-controller="Admin"
        asp-action="PlaceOrderForCustomer">Place
        order</button>
</form>