

<h2 style="text-align: center;">MANAGE ORDERHISTORY</h2>
<br />
<div class="container">
    <div><h2>Profil information: </h2>
        <p>Name: @ViewBag.Customers.FirstName</p> <p>@ViewBag.Customers.FirstName</p>
        <p>Address: @ViewBag.Customers.Address.StreetAddress</p>
        <p>@ViewBag.Customers.Address.ZipCode</p>
        <p>@ViewBag.Customers.Address.City</p>
        <p>@ViewBag.Customers.Address.Country</p>
        <p>Email: @ViewBag.Customers.Email</p>
        <p>Phonenumber: @ViewBag.Customers.PhoneNumber</p>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2>See Orderhistory</h2>
            
            <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Orderid</th>
                                <th scope="col">Orderdate</th>
                                <th scope="col">Modelid</th>
                                <th scope="col">Modelname</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                                <th scope="col">Print order</th>

                            </tr>
                        </thead>
                        <tbody>
                        @if (ViewBag.OrderLists != null)
                        {
                            @foreach (var order in ViewBag.OrderLists)
                            {
                                foreach (var hats in order.Hats)
                                {
                                    <tr>
                                        <td>@order.ID</td>
                                        <td>@order.OrderDate</td>
                                        @if (hats.Model == null)
                                        {
                                            <td>No model Id found</td>
                                        }
                                        else
                                        {
                                            <td>@hats.Model.ID</td>
                                            <td>@hats.Model.ModelName</td>
                                            <td>@hats.Price</td>
                                            <td>@order.Status</td>

                                            <td>
                                                <form method="post" asp-action="PrintOrder">
                                                        <input type="hidden" name="orderId" value="@order.ID" />
                                                        <button type="submit" class="btn btn-primary btn-sm">Get PDF</button>
                                                    </form>
                                                </td>



                                        }

                                    </tr>
                                
                            }
                        }
                       }   

                        </tbody>
                    </table>
          
            </div>
        </div>
    </div>
