@model MessageListViewModel

@{
  var userId = (await user.GetUserAsync())?.ID;
}

<h2>Topics</h2>

<p>
  <a asp-controller="Message" asp-action="Compose">Create a new topic</a>
</p>

<div class="container">
  @if (ViewBag.Error == null)
  {
    @if (Model.Topics != null && Model.Topics.Any())
    {
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>Title</th>
            <th>Messages</th>
          </tr>
        </thead>
        <tbody>
          @foreach (Topic topic in Model.Topics)
          {
            var unreadMessages = topic.Messages.Where(message => message.Sender.ID != userId && !message.IsRead).Count();

            <tr>
              <td style="width: 70%">
                <a asp-action="Topic" asp-controller="Message" asp-route-id="@topic.ID">
                  @if (unreadMessages > 0) 
                  {
                    <span style="font-weight: 600">@topic.Title (@unreadMessages)</span>
                  }
                  else
                  {
                    <span>@topic.Title</span>
                  }
                </a>
              </td>
              <td>@topic.Messages.ToList().Count</td>
            </tr>
          }
        </tbody>
      </table>
    }
    else
    {
      <span>You have no messages.</span>
    }
  }
  else
  {
    <span class="danger">@ViewBag.Error</span>
  }
</div>