@model List<Order>;

<div>
    @foreach(var Order in Model.Where(o=>!o.IsApproved))
    {
        <div>
            @Order.OrderDate
            <p>Antal hattar @Order.Hats.Count();</p>
            <p>Ordersumma: @Order.OrderSum sek</p>
            <a asp-action="ApproveOrder" asp-controller="Order" asp-route-orderId="@Order.ID" class="edit-button">Approve</a>

        </div>
    }
</div>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            @foreach(var Order in Model.Where(o=>o.IsApproved))
            {
                <div> 
                    @Order.OrderDate
                    <p>Antal hattar @Order.Hats.Count();</p>
                    <p>Ordersumma: @Order.OrderSum sek</p>

                </div>
            }
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>