@model HatViewModel

<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>@ViewBag.Model.ModelName</h1>
      <p>@ViewBag.Model.Description</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-2">
      <img src="@ViewBag.Model.ImagePath" alt="Picture on specific hat" class="hat-image" style="max-width: 100%">
    </div>
    <div class="col-md mt-2">

      @if (@ViewBag.Model.Materials != null)
      {
        <h3>Material</h3>
        <ul>
          @foreach (var material in @ViewBag.Model.Materials)
          {
            <li>@material.Name</li>
          }
        </ul>
      }

      <form asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="modelID" />
        <div class="form-group">
          <label for="Size">Size: </label>
          @if (ViewBag.Message != null)
          {
            <div class="danger">@ViewBag.Message</div>
          }
          <input asp-for="Size" class="form-control" id="Size" />
        </div>
        <div class="form-group">
          <label for="Description">Description: </label>
          <input asp-for="Description" class="form-control" id="Description" />
          <p><i>Please enter information that is critical for the hat making</i></p>
        </div>
        <div class="form-group">
          <h4>Price from: @ViewBag.Price SEK</h4>
        </div>
        <input type="submit" value="Add to Cart" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
